/*
 * Display navigation links inline
 */

.menu {
    float: right;
    margin-top: 10px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #666666;
}

/*
 * Create dark grey header with white logo
 */

header {
    /*background-color: #333333;*/
    height: 55px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 3em;
    /*color: #FFF;*/
    /*text-transform: uppercase;*/
    float: left;
}

header h1.logo:hover{
    /*color: ;*/
    text-decoration: none;
}

/*
 * Center the body content
 */

.container {
    width: 940px;
    margin: 0 auto;
}




h2 {
    font-size: 1.8em;
    margin-top: 50px;
    text-align: left;
    letter-spacing: -1px;
}

h3 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
    letter-spacing: -1px;
    color: #660066 ;
}

h4 {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    /*color: */
}

#loading {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      display: none;
      cursor: wait;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.config ul{
    font-size: 11px;
}

/*.col{
    outline: 1px solid;
}*/
.navbar{
    margin-bottom: 30px;
}

@media (max-width: 768px) {

  [class*="col-"] {
      margin-bottom: 15px;
  }
}

.no-bullets{
    padding-left: 0 !important;
    list-style: none;
}

.wrap-words{
    word-break: break-word;
    white-space: normal !important;
}

.tabla-parametros{
    font-size: 12px;
}

.tabla-parametros tr{
    line-height: 10px;
}

.tabla-parametros tr td:nth-child(2),
.tabla-parametros tr th:nth-child(2){
    text-align: right;
}

.config .mb-3{
    margin-bottom:  0 !important;
}

.config .mb-3 label{
    display: inline-block;
    width: 45%;
}
.config .mb-3 input[type="text"]{
    display: inline;
    width: 52%;
    height: 22px;
    font-size: 11px;
}

.config {
    font-size: 14px;
}

.config .form-control:focus {
    box-shadow: unset;
}
/*
form{
    outline:  1px solid;
}*/